    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">C.R.U.D</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
              <li class="nav-item">
                <a href="{{ pages.home.url }}" type="button" class="btn btn-secondary {% if pages.home.isActive %}active{% endif %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
              </li>
              <li class="nav-item">
                <a href="{{ pages.create.url }}" type="button" class="btn btn-secondary {% if pages.create.isActive %}active{% endif %}"><i class="fa fa-database" aria-hidden="true"></i> Create</a>
              </li>
              <li class="nav-item">
                <a href="{{ pages.read.url }}" type="button" class="btn btn-secondary {% if pages.read.isActive %}active{% endif %}"><i class="fa fa-list" aria-hidden="true"></i> Read</a>
              </li>
              <li class="nav-item">
                <a href="{{ pages.update.url }}" type="button" class="btn btn-secondary {% if pages.update.isActive %}active{% endif %}"><i class="fa fa-refresh" aria-hidden="true"></i> Update</a>
              </li>
              <li class="nav-item">
                <a href="{{ pages.delete.url }}" type="button" class="btn btn-secondary {% if pages.delete.isActive %}active{% endif %}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>