<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site_name}} - {{page_title}}</title>
    {% include 'head.twig' %}
</head>
<body>
    {% include 'navigation.twig' %}
    <div class="container py-5">
        <h1 class="h2">C.R.U.D <small>(Read)</small></h1>
        <p>Websites often need to display dynamic content based on user input, preferences, or real-time data. Reading from a database allows PHP to fetch and display this content dynamically.</p>
        <hr>
        <div class="flex">
        {% if itemList is not empty %}
            {% for item in itemList %}
            <div class="card" style="width: 18rem;">
                <img src="{{ item.item_img }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ item.item_name }} <span class="badge text-bg-secondary">{{ item.item_price }}</span></h5>
                    <p class="card-text">{{ item.item_desc }}</p>
                    <a href="update.php?item_id={{ item.item_id }}" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i> Update</a>
                    <a href="delete.php?item_id={{ item.item_id }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>There are currently no items to display.</p>
        {% endif %}
        </div>
    </div>
    {% include 'footer.twig' %}
</body>
</html>