<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{sitename}} - {{pageTitle}}</title>
		{% include 'head.twig' %}
	</head>
	<body>
		{% include 'navigation.twig' %}
		<div class="container">
			<h3 style="margin-top: 10px;"> Sign in </h3>
			<hr>
			<br>
			<div class="sign-in-page">
				<div class="card" style="width: 100%; max-width: 500px;margin: auto;">
					<form method="post" action="./includes/login.form.php">
                        <div class="card-body">     
                            {% if form_message %}
                                <div class="alert alert-{{ form_message_type }}" role="alert">
                                    {{ form_message }}
                                </div>
                            {% endif %}
                            {% if errors is not empty %}
                                <div class="alert alert-danger">
                                        {% for error in errors %}
                                        {{ error }}<br>
                                        {% endfor %}
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="emailAddress" class="form-label">Email Address</label>
                                <input type="text" class="form-control" id="emailAddress" name="emailAddress">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		{% include 'footer.twig' %}
	</body>
</html>